<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/results.css">
    
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color-text--black">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    <a href="#">
                        <img id="logo" src="/img/puppy-logo.png" />
                    </a>PetRent</span>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="sign-out">
                    Sign Out
                </button>
            </div>
        </header>
    </div>

    <div class="container">
        <div class="mdl-grid">
            <div id="results" class="mdl-cell mdl-cell--12-col">
                <h4 class="text-center">Results:</h4>
                <div id="results-container">
                    {{#each this.pets as |pet index|}} 
                    {{!-- We changed pet-link from an ID to a class --}}
                    <a class="pet-link" href="#">
                        <div class="demo-card-square mdl-card mdl-shadow--2dp">
                            {{!--
                            <div class="mdl-card__title mdl-card--expand"> --}}
                                <div class="mdl-card--expand crop">
                                    <img id="pet-photo" src={{#if this.media.photos.1.x}}{{this.media.photos.1.x}}{{else}}
                                        "http://via.placeholder.com/250x250"{{/if}} />
                                </div>
                                {{!-- </div> --}}
                            <div class="content-div">
                                <h2 class="name-div" data-key={{index}}>{{this.name}}</h2>
                                <div class="stats-div">
                                    {{this.contact.city}}, {{this.contact.state}}
                                    <br /> {{!-- {{this.breeds}}
                                    <br /> --}} {{#compare this.sex 'M'}}Male{{/compare}}{{#compare this.sex 'F'}}Female{{/compare}}
                                    &bull; {{this.age}} {{!-- {{#compare this.sex 'M'}}Male{{/compare}}{{#compare this.sex
                                    'F'}}Female{{/compare}} | {{this.age}} --}}
                                </div>
                            </div>
                            {{!--
                            <div class="mdl-card__actions mdl-card--border"> --}} {{!--
                                <div id="rent-btn">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">SET PLAYDATE</a>
                                </div> --}} {{!-- </div> --}}
                        </div>
                    </a>

                    {{modal}}

                    {{/each}}
                    {{!-- modal pop up --}}
                    <dialog class="mdl-dialog">
                        <button type="button" class="mdl-button close">X</button>
                        <h4 class="mdl-dialog__title">{{this.name}}</h4>
                        <div class="mdl-dialog__content">
                            <p>{{#if this.description}}{{this.description}}{{else}}No description{{/if}}</p>
                        </div>
                        <div class="mdl-dialog__actions">
                            <button id="rent-btn" type="button" class="mdl-button">SET PLAYDATE</button>
                        </div>
                    </dialog>
                </div>
            </div>
        </div>
    </div>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script> --}}
    <script>
        //Handlebars.registerHelper('modal', function(){
         //   var name = Handlebars.escapeExpression(this.name);

         //   return new Handlebars.SafeString(
         //       `<dialog class="mdl-dialog">
         //               <button type="button" class="mdl-button close">X</button>
         //               <h4 class="mdl-dialog__title">${name}</h4>
        //               <div class="mdl-dialog__content">
        //                    <p>{{#if this.description}}{{this.description}}{{else}}No description{{/if}}</p>
        //                </div>
         //               <div class="mdl-dialog__actions">
         //                   <button id="rent-btn" type="button" class="mdl-button">SET PLAYDATE</button>
         //               </div>
        //            </dialog>`
         //   );
        //})

        var dialog = document.querySelector('dialog');
        var showDialogButtons = document.getElementsByClassName('pet-link');
        var background = document.querySelector(".background");

        if (!dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }
        // for of is ES6 
        for (button of showDialogButtons) {
            button.addEventListener('click', function (event) {
                //let value = event.target.attributes[1].value;
                //for(let i = 0; i < pets.length; i++){
                    //if(pets.indexOf(i) === value){
                       // console.log(pets[i]);
                    //}
                dialog.showModal();
                }
            });
        }

        dialog.querySelector('.close').addEventListener('click', function () {
            dialog.close();
        });
        background.addEventListener('click', function () {
            background.close();
        });

    </script>

</body>

</html>
{{!-- have event listener, so each click bring ups a modal, now we need to learn how to identify the information --}}


